body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first {
    display: flex;
    flex-direction: column;
    background: #1f2937;
 }

 .header {
     display: flex;
     justify-content: space-around;
 }

 .headerlogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    margin-top: 10px;
 }

 a {
    text-decoration: none; color: #e5e7eb;
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-left: 15px;
    }

 .body1 {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    
 }

 .body1left {
    
    margin-left: 190px;


 }

 .body1lefttitle {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
 }

 .body1leftbody {
     font-size: 18px;
     color: #e5e7eb;
     margin-bottom: 10px;

 }

 .buttonone {
    font-weight: 800;
    border: none;
    color: #f9faf8;
    border-radius: 4px;
    background:#3882f6;
    padding: 4px 24px;
    
 }

 .imageone {
     height: 250px;
     width: 525px;
     margin-right: 190px;
 }

.second {
   text-align: center;
}

.secondheader {
   font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containers {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   
}

.container {
   flex: 0 1 0;
   
}

.imagetwo {
  height: 110px;
  width: 150px;
  border: 5px solid #3882f6;
  border-radius: 5px;
}

.text {
   color: #1f2937;
}

.third {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #e5e7eb;
   margin-top: 100px;
}

.bodythird {
   margin: 100px 400px 100px 400px;
}

.quote {
   font-size: 36px;
   color: #1f2937;
   flex: 0 1 0;
   font-style: italic;
   font-weight: 100;
}

.author {
   color: #1f2937;
   font-weight: 900;
   flex: 0 1 0;
   justify-content: flex-end;
   display: flex;
   margin-right: 25px;
}

.fourth {
   display: flex;
   justify-content: center;
   align-items: center;
}

.mainsquare {
   margin: 75px 0;
   display: flex;
   background-color: #3882f6;
   height: 150px;
   width: 800px;
   border: none;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   color: #f9faf8;
   gap: 100px;
}

.lefttitle {
   font-weight: 800;
}

.buttontwo {
   font-weight: 800;
   color: #f9faf8;
   border-radius: 4px;
   background:#3882f6;
   padding: 4px 24px;
   border-color: #f9faf8;

}

.footer {
   font-size: 18px;
   color: #f9faf8;
   background-color: #1f2937;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px 0;
}